<form method="POST" action="/tweets">
    <label>Content:</label><br />
    <input type="text" name="content"><br /><br />
    Create Your Tweet:

    <input type="submit" name="submit" id="submit">
</form>